.background {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #6804c5;
  height: 8vh;
}

.componentsMain {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.componentsMain2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to top, #6804c5, #00a2ff);
}

.containerMain3 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to top, #6804c5, #00a2ff);
}

.components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  align-self: center;
}

.componentMethods {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.containerSteps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.containerStepsBox {
  width: 250px;
  text-align: center;
  color: rgb(185, 184, 184);
}

.containerStepsIcon {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.methodsMoney {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.methodsText {
  font-size: 30px;
  color: rgb(185, 184, 184);
}

.image {
  height: 400px;
  width: 400px;
  align-self: center;
}

.image:hover {
  height: 410px;
  width: 410px;
  align-self: center;
}

.elements {
  width: 300px;
  background-color: rgba(137, 43, 226, 0.426);
  padding: 10px;
  text-align: center;
}

.containerNav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.textMain {
  font-size: 70px;
  font-weight: inherit;
  align-self: center;
  color: #6804c5;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textMain2 {
  font-size: 70px;
  font-weight: inherit;
  align-self: center;
  color: #00a2ff;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text1 {
  font-size: 40px;
  font-weight: inherit;
  align-self: center;
  color: #6804c5;
  cursor: pointer;
}

.text2 {
  font-size: 40px;
  font-weight: inherit;
  align-self: center;
  color: #00a2ff;
  cursor: pointer;
}

.text3 {
  font-size: 20px;
  font-weight: inherit;
  align-self: center;
  color: grey;
  cursor: pointer;
}

.btn {
  align-self: center;
  border-radius: 49px;
  font-size: 20px;
  background-color: #e3cbff;
  color: #6804c5;
  border: #6804c5 1px solid;
  padding: 10px 37px;
  cursor: pointer;
}

.btn:hover {
  align-self: center;
  border-radius: 49px;
  font-size: 18;
  background-color: #6804c5;
  color: #fff;
  border: #6804c5 1px solid;
  padding: 10px 37px;
  cursor: pointer;
}

.btn2 {
  align-self: center;
  width: 20%;
  border-radius: 49px;
  font-size: 20px;
  color: #6804c5;
  border: #6804c5 2px solid;
  padding: 10px 37px;
  cursor: pointer;
}

.btn2:hover {
  align-self: center;
  width: 20%;
  border-radius: 49px;
  font-size: 20px;
  background-color: #6804c5;
  color: #fff;
  border: #6804c5 2px solid;
  padding: 10px 37px;
  cursor: pointer;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.textTitle {
  font-size: 50px;
  font-weight: inherit;
  align-self: center;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.textTitle2 {
  font-size: 50px;
  font-weight: inherit;
  align-self: center;
  color: #6804c5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textTitle3 {
  font-size: 50px;
  font-weight: inherit;
  align-self: center;
  color: #00a2ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textSubtile {
  font-size: 35px;
  font-weight: inherit;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.containerText {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.options {
  width: 600px;
  height: 300px;
  box-shadow: 0 0 15px #00a2ff;
  border-radius: 20px;
  margin: 20px;
}

.options:hover {
  width: 600px;
  height: 300px;
  box-shadow: 0 0 15px #6804c5;
  border-radius: 20px;
  margin: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.description {
  font-size: 15px;
  text-decoration: underline;
  align-self: center;
  padding: 30px;
}

.containerDown {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  justify-content: space-between;
}

.hr {
  width: 60%;
  color: black;
}
