.Card{
    width: 300px;
    height: 380px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.upperContainer{
    height: 100px;
    background: linear-gradient(to left, #2d00f7, #ff0291);
}

.imageContainer img{
    background:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
    border: 2px solid #8e00b9;
}

.lowerContainer{
    margin-top: 60px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.lowerContainer h3,h4,p{
    margin: 0;
    padding: 0;
}

.lowerContainer h3{
    color:#2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
}
.lowerContainer h4{
    color:#8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
}

.lowerContainer p{
    margin: 1rem;
    font-weight: 300;
    color: #2f2d2e;
    font-size: 0.9rem;
    text-align: justify;
}

.lowerContainer a{
    text-decoration: none;
     color: inherit;
}